* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
    /* background-image: url(assets/wp1822923-pacific-rim-wallpapers.jpg); */
}

@font-face {
    font-family: "Permanent Marker";
    src: url(assets/Permanent_Marker/PermanentMarker-Regular.ttf);
}

/* Template Section */
.contact-us {
    color: black;
    background-color: white;
    font-size: 1.1rem;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3em;
    border: 0;
    margin-top: 1rem;
    letter-spacing: 0.5rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.contact-us:hover {
    color: white;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.heading-1 {
    font-family: "Permanent Marker";
    font-size: clamp(2.5rem, 5rem, 10rem);
    padding: 0;
    margin: 0.5rem 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.heading-2 {
    font-size: clamp(1rem, 2rem, 4rem);
    padding: 0;
    margin: 0.5rem 0;
}
.paragraph {
    font-size: clamp(0.75rem, 1.5rem, 3rem);
    font-weight: 100;
    padding: 0;
    margin: 0.5rem 0;
}
/* End of Template Section */

/* page one */
/* Navigation Section */
header {
    position: fixed;
    z-index: 2;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    padding: 0 4rem;
    border-bottom: 1px solid black;
    margin: 0;
    top: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0;
    margin: 0;
}

.nav-bar div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8rem;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.nav-bar ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 350;
    letter-spacing: .2rem;
}

.nav-bar ul li a {
    position: relative;
    color: black;
    text-decoration: none;
    padding-bottom: 0.3rem;
}

.nav-bar ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-bar ul li a:hover::after {
    width: 100%;
    left: 0;
}
/* End of Navigation Section */

/* Banner Section */
main {
    margin-top: 80px;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0 4rem;
    /* margin-top: 80px; */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(assets/wp1822923-pacific-rim-wallpapers.jpg) no-repeat top;
    background-size: cover;
}

#banner div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 800px;
    padding-right: 20rem;
    color: white;
}
/* End of Banner Section */

/* Description Section */
#description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0 4rem;
    margin: 10rem 0;
}

#description h2 {
    max-width: 1200px;
}
/* End of Description Section */

/* Services Card Section */
#services-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
}

#services-card > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.cards {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 600px;
    border: 1px solid lightgray;
}

.cards img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 20%;
}

.cards div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3rem 2rem;
}

.cards div:nth-child(2) a {
    margin: 0.5rem;
}

.cards div:nth-child(2) a:nth-child(1) {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.cards div:nth-child(2) a:nth-child(2) {
    color: black;
    text-decoration: none;
}

.cards div:nth-child(2) a:nth-child(3) {
    text-transform: uppercase;
}
/* End of Services Card Section */

/* Services Section */
#services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    margin: 0;
}

#services > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.serv-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 10rem 0;
}

.serv-desc:nth-child(2) {
    flex-direction: row-reverse;
}

.serv-desc img {
    width: 720px;
    height: 480px;
    object-fit: cover;
    object-position: center 20%;
}

.serv-desc div:nth-child(2) {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(assets/360_F_94255289_bLOLo8dVkESH4wP4QNVUg4hWBlcBEEOg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 2rem 3.5rem 2.5rem;
    top: 15rem;
    right: 10rem;
    border-radius: 10px;
}

.serv-desc:nth-child(2) div:nth-child(2) {
    left: 10rem;
}
/* End of Services Section */

/* Client Review Section */
#client-review {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0 4rem;
    margin: 10rem 0 20rem;
}

#client-review div {
    width: 100%;
    max-width: 1200px;
}

#client-review blockquote {
    font-style: italic;
}

#client-review cite {
    font-style: normal;
    font-weight: bolder;
}
/* End of Client Review Section */

/* Offering Section */
#offering {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    margin: 20rem 0 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(assets/360_F_94255289_bLOLo8dVkESH4wP4QNVUg4hWBlcBEEOg.jpg) no-repeat center;
    background-size: cover;
}

#offering > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    color: white;
    padding: 3rem 0 4rem;
}

#offering div:nth-child(1) {
    width: 100%;
}

#offering div div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
/* End of Offering Section */

/* footer section */
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: black;
    padding: 0 4rem;
    margin: 0;
}

#footer > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 2rem 0;
}

#footer p {
    color: gray;
    text-transform: uppercase;
    font-weight: 550;
    padding: 0;
    margin: 0 0 1rem;
}

#footer ul {
    padding: 0;
    margin: 0;
}

#footer ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

#footer ul li a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

footer > div > div:nth-child(4) ul {
    display: flex;
    gap: 1rem;
}

footer > div > div:nth-child(4) ul li a img{
    width: 1rem;
    margin-bottom: 1rem;
    
}
/* end of page one */

/* page two (SERVICES) */
/* heading section */
#heading-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;

}

#heading-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    border-bottom: 1px solid black ;
}

#heading-section div p {
    padding: 0;
    margin: 0 0 1.5rem;

}
/* end of heading section */


/* services section */
.services-section-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    margin: 5rem 0;
}

.services-section-main > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.services-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.services-section p {
    margin-bottom: 2.5rem;
}
/* End of page two (SERVICES) */

/* Page Three Section (CONTACT US) */
#contact-us-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0 4rem;
}

#contact-us-form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

/* legend {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
} */

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 800px;
    padding: 2rem 4rem;
    margin: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.185); /* Warna latar belakang sedikit transparan */
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 5rem 0;
    
}

fieldset div {
    margin: 0.5rem 0;
}

.form-set {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;

}

.form-set div {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

.form-set label {
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.form-set input {
    height: 3rem;
    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.form-set-single {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.form-set-single label {
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.form-set-single input {
    height: 3rem;
    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.form-set-single select {
    height: 3rem;
    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}


.form-set-multiple {
    display: flex;
    flex-direction: column;
}

.form-set-multiple label {
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.form-set-multiple div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 10rem;
    padding: 0;
    margin: 0;
}

.form-set-multiple ul {
    padding: 0;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}

.form-set-when {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-set-when div {
    display: flex;
    flex: 1;
    width: 100%;
    gap: 0.5rem;
    margin: 0.3rem 0;
}

.form-set-when input {
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

#submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* End of Page Three Section (CONTACT US) */

/* Page Four Section (Gallery) */
#grid {
    margin: 10rem 4rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 2fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.item {
    border: 1px solid red;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item6 {
    grid-row-start: 2;
    grid-row-end: 4;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 4;

}

.ball {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px);
    }
  }

/* End of Page Four Section (Gallery) */

/* Media Query */
/* media query for mobile */
@media (max-width:768px) and (min-width:0px) {
    /* page one (HOME) */
    /* navigation section */
    
    main {
        margin-top: 146.775px;
    }

    header {
        height: auto;
        padding: 0 2rem;

    }

    .nav-bar {
        align-items: center;
        justify-content: space-between;
    }

    .nav-bar div {
        justify-content: flex-start;
    }

    .nav-bar ul {
        align-items: flex-end;
        flex-direction: column;
        gap: 1rem;
    }
    /* end of navigation section */

    /* banner section */
    #banner {
        margin-top: ;
        padding: 0 2rem;
        height: 80vh;
    }

    #banner div {
        padding-right: 0;
    }

    /* Description Section */
    #description {
        padding: 0 2rem;
    }
    /* End of Description Section */

    /* Services Card Section */
    #services-card {
        padding: 0 2rem;
    }

    #services-card > div {
        flex-direction: column;
        gap: 2rem;
    }

    .cards img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center 20%;
    }

    .cards div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 1rem 1rem;
    }

    .cards div:nth-child(2) a {
        margin: 0.2rem;
    }
    /* End of Services Card Section */

    /* Services Section */
    #services {
        padding: 0 1rem;
        margin-top: 5rem;
    ]}

    .serv-desc {
        width: 100%;
        margin: 1rem 0;
        align-items: center;
        margin: 5rem 0;
    }

    .serv-desc:nth-child(2) {
        
    }

    .serv-desc div:nth-child(2) {
        top: 15rem;
        right: auto;
    }

    .serv-desc img {
        width: 100%;
        max-width: 768px;
        height: 100%;
    }

    .serv-desc:nth-child(2) div:nth-child(2) {
        left: 5rem;
    }
    /* End of Services Section */

    /* Client Review Section */
    #client-review {
        padding: 0 1rem;
        margin: 10rem 0;

    }
    /* End of Client Review Section */

    /* Offering Section */
    #offering {
        padding: 0 1rem;
        margin: 0;
    }

    #offering > div > div:nth-of-type(1){
        text-align: center;
    }

    #offering > div {
        flex-direction: column;
    }

    #offering div div:nth-child(2) {
        width: 100%;
    }
    /* End of Offering Section */

    /* Footer Section */
    #footer > div {
        flex-direction: ;
        gap: 2rem;
    }
    /* end of page one (HOME) */

    /* page two (SERVICES) */
    #heading-section {
        padding: 0 4rem 0 2rem;
    }

    #heading-section div {
        align-items: flex-start;
    }

    .services-section-main {
        padding: 0 2rem;
    }

    .services-section-main > div {
        gap: 5rem;
    }

    .services-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        padding-bottom: 2rem;
        border-bottom: 1px solid black;
    }
    /* end of page two (SERVICES) */

    /* page three (CONTACT US) */
    fieldset {
        width: 600px;
    /* end of page three (CONTACT US) */
}