* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: "Permanent Marker";
    src: url(/assets/font/Permanent_Marker/PermanentMarker-Regular.ttf);
}

/* template section */
.button {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .7rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
    box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.2);
    transform: translate(-3px, -3px);
}


h1 {
    font-size: 4rem;
    padding: .25rem 0;
}

h2 {
    font-size: 3rem;
    padding: .5rem 0;
}

h3 {
    font-size: 2rem;
    padding: .5rem 0;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
    padding: .25rem 0;
}
/* end of template section */

/* navigation section */
header {
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    padding: 0 4rem;
    border-bottom: 1px solid gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.nav-bar div a img {
    width: 150px;
}

.nav-bar ul {
    display: flex;
    gap: 4rem;
}

.nav-bar ul li {
    list-style: none;
}

.nav-bar ul li a {
    position: relative;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.nav-bar ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.4rem;
    width: 0;
    height: 0.15rem;
    background: black;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-bar ul li a:hover::after {
    width: 100%;
    left: 0;
}
/* end of navigation section */

main {
    margin-top: 80px;
}

/* PAGE ONE - INDEX.HTML */
/* hero section */
.hero {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../assets/img/jaeger-3.jpg) no-repeat top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92vh;
    padding: 0 4rem;

}

.hero div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 40rem 0 0;
}

.hero h1 {
    font-family: "Permanent Marker";
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    
}
/* end of hero section */

/* headline section */
.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    margin: 10rem 0 5rem;
}

.headline div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}
/* end of headline section */

/* cards of service section */
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    margin: 10rem 0;
}

.services > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
    height: 550px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card div:nth-child(2) {
    padding: .5rem 1rem;
}

.card div:nth-child(2) a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .8rem;
    color: black;
    text-decoration: none;
}

.card div:nth-child(2) a:nth-child(3) {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: underline;
    color: blue;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 20%;
}
/* end of cards service section */

/* services section */
.many-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    margin: 10rem 0;
}

.many-services > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    gap: 12rem;
}

.services-offering {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.services-offering img {
    width: 75%;
    height: 500px;
    object-fit: cover;
    object-position: center 10%;
}

.services-offering > div:nth-child(2) {
    position: absolute;
    z-index: 1;
    right: 100px;
    bottom: -100px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url(/assets/img/bg-img.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 1.5rem 3.5rem;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.services-offering-reverse {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.services-offering-reverse img {
    display: flex;
    width: 75%;
    height: 500px;
    object-fit: cover;
    object-position: center 10%;
    align-self: flex-end;
    justify-self: flex-end;
}

.services-offering-reverse > div:nth-child(2) {
    position: absolute;
    z-index: 1;
    left: 100px;
    bottom: -100px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url(/assets/img/bg-img.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 1.5rem 3.5rem;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}




/* end of services section

/* client review */
.client-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    text-align: center;
    padding: 0 4rem;
    margin: 5rem 0 10rem;
}

.client-review div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    
}

.client-review blockquote {
    font-size: 2rem;
    margin: 2rem;
}

.client-review cite {
    font-size: 1.5rem;
}
/* end of client review */

/* offering section */
.offering {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    margin: 10rem 0 0;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url(/assets/img/bg-img.jpg) no-repeat center;
    background-size: cover;
}

.offering > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    padding: 3rem 0 2.5rem 0;
}

.offering > div > div:nth-child(1) {
    width: 75%;
    padding-right: 7rem;
}

/* end of offering section */

/* footer section */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    color: white;
    background-color: black;
}

.services-link {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem 0;
    width: 100%;
    max-width: 1200px;
}

.services-link h3 {
    color: darkslategray;
    font-size: 1.5rem;
    text-transform: capitalize;

}

.services-link ul {
    list-style: none;
}

.services-link a {
    display: flex;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem 0;
}

.socmed div ul {
    display: flex;
    gap: 2rem;
}

.socmed img {
    width: 1.5rem;
    height: 1.5rem;
}
/* end of footer section */
/* end of PAGE ONE - INDEX.HTML */

/* page two (SERVICES) */

/* services section */
.services-section-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    margin: 9rem 0 5rem;
}

.services-section-main > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.services-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;;
}

.services-section div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

/* End of page two (SERVICES) */

/* PAGE THREE - GALLERY.HTML */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;

    width: 100%;
    max-width: 1200px;
    padding: 0 4rem;
    margin: 10rem auto;
}

.gallery .photo {
    position: relative;
    background-color: white;
    overflow: hidden;
}

.gallery .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.gallery .photo:hover img {
    transform: scale(1.1);
    cursor: zoom-in;
}

.gallery .photo:nth-child(3n - 2) {
    grid-column: span 2;
    grid-row: span 2;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
    }
    
    .gallery .photo:nth-child(3n - 2) {
    grid-column: unset;
    grid-row: unset;
    }
}

/* .ball {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px);
    }
  } */


/* PAGE FOUR - CONTACT.HTML */
/* contact title section */
.contact-page {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 9rem 0 5rem;
}

.contact-page > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: ;
}

/* title */
.contact-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20rem;
}

.contact-title h1 {
    text-transform: uppercase;
}

.contact-title div ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.contact-title img {
    width: 2rem;
    height: 2rem;
}

.contact-title h1, .contact-title p, .contact div {
    margin: 1.5rem 0;
}
/* end of contact title section */

/* form section */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: ;
}

fieldset {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    border-radius: .8rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    gap: 1.5rem;
}

.form-set {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin: 0;
}

.form-set > div {
    display: flex;
    flex-direction: column;
    flex: 1 0 2rem;
    gap: 0.5rem;
    margin: 0;
}

.form-set > div > label {
    font-size: 1.5rem;
    font-weight: 200;
}

.form-set > div > input {
    padding: .5rem .8rem;
    border-radius: .5rem;
}

.form-set-single {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 0.5rem;
}

.form-set-single > label {
    font-size: 1.5rem;
    font-weight: 200;

}

.form-set-single > select {
    padding: .5rem .8rem;
    border-radius: .5rem;
    border: 1px solid black;
    color: grey;
}

.form-set-single > select > option:not(option:nth-child(1)) {
    color: black;
}

input:hover {
    box-shadow: 0 0 5px rgb(26, 191, 241);
}

select:hover {
    box-shadow: 0 0 5px rgb(26, 191, 241);
}
/* user name */
#user-name {
    display: flex;
}
/* end of user name */

/* user email and phone */
#email-phone {
    display: flex;
}
/* end of user email and phone */

/* district jaeger */
#district-jaeger {
    display: flex;
}
/* end of district jaeger */

/* button section */
.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 2rem 0 0;
    width: 100%;
}

.submit-button > .button {

    width: 50%;
    margin: 0;
}
/* end of button section */ 
